.imageEntity
{
    width: 25%;
    height: auto;
}

@media only screen and (max-device-width : 480px) {
    .imageEntity {
        width: 100%;
    }
}

@media only screen and (max-device-width : 650px) and (min-device-width : 481px) {
    .imageEntity {
        width: 50%;
    }
}

