<div ng-controller="HomeController as vm" ng-app="app.home"
	 ng-style="{'min-height': vm.pageHeight, 'max-height': vm.pageHeight}">
<div class="image-container" ng-style="{'padding-top': vm.marginTop}" >

	<img ng-attr-id="{{ 'image' + image.imageId }}" class= "imageEntity" ng-repeat="image in vm.images"
	 ng-style="{'background-color': image.prominentColor}" ng-src='assets/img/transparent.png' imageonload />

</div>
</div>
<!--ng-src='{{image.thumbnail.url}}'-->
<!--src="assets/img/transparent.png">-->